<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
version="2.4">
	<display-name>TAMT Application</display-name>
    <description>
     	TAMT Applications Beta 1.1
    </description>
    
<!-- Servlets -->

<!--  
<servlet>
	<servlet-name>invoker</servlet-name>
	<servlet-class>
	  org.apache.catalina.servlets.InvokerServlet
	</servlet-class>
	<init-param>
	    <param-name>debug</param-name>
	    <param-value>0</param-value>
	</init-param>
	<load-on-startup>2</load-on-startup>
</servlet>
-->
    
 <!-- Start Up Servlets -->  
 <servlet>
    <servlet-name>Log4JInitServlet</servlet-name>
    <servlet-class>org.worldbank.transport.tamt.server.Log4JInitServlet</servlet-class>
    <init-param>
      <param-name>log4j-properties</param-name>
      <param-value>/WEB-INF/classes/log4j.properties</param-value>
     </init-param>
    <load-on-startup>1</load-on-startup>
 </servlet>
 <servlet>
    <servlet-name>SingletonInitializer</servlet-name>
    <servlet-class>org.worldbank.transport.tamt.server.SingletonInitializer</servlet-class>
    <load-on-startup>1</load-on-startup>
 </servlet>  
 <servlet>
    <servlet-name>TAMTConnectionPoolInitializer</servlet-name>
    <servlet-class>org.worldbank.transport.tamt.server.TAMTConnectionPoolInitializer</servlet-class>
    <load-on-startup>1</load-on-startup>
 </servlet>
  
  <!-- Application Servlets -->
  <servlet>
    <servlet-name>assignStatusHandler</servlet-name>
    <servlet-class>org.worldbank.transport.tamt.server.AssignStatusHandler</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>assignStatusHandler</servlet-name>
    <url-pattern>/tamt/assignStatusHandler</url-pattern>
  </servlet-mapping>
    
  <servlet>
    <servlet-name>assignServiceServlet</servlet-name>
    <servlet-class>org.worldbank.transport.tamt.server.AssignServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>assignServiceServlet</servlet-name>
    <url-pattern>/tamt/assignService</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>gpsTraceServiceServlet</servlet-name>
    <servlet-class>org.worldbank.transport.tamt.server.GPSTraceServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>gpsTraceServiceServlet</servlet-name>
    <url-pattern>/tamt/gpsTraceService</url-pattern>
  </servlet-mapping>
    
  <servlet>
    <servlet-name>tagServiceServlet</servlet-name>
    <servlet-class>org.worldbank.transport.tamt.server.TagServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>tagServiceServlet</servlet-name>
    <url-pattern>/tamt/tagService</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>roadServiceServlet</servlet-name>
    <servlet-class>org.worldbank.transport.tamt.server.RoadServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>roadServiceServlet</servlet-name>
    <url-pattern>/tamt/roadService</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>regionServiceServlet</servlet-name>
    <servlet-class>org.worldbank.transport.tamt.server.RegionServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>regionServiceServlet</servlet-name>
    <url-pattern>/tamt/regionService</url-pattern>
  </servlet-mapping>
      
  <servlet>
    <servlet-name>zoneServiceServlet</servlet-name>
    <servlet-class>org.worldbank.transport.tamt.server.ZoneServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>zoneServiceServlet</servlet-name>
    <url-pattern>/tamt/zoneService</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>trafficCountServiceServlet</servlet-name>
    <servlet-class>org.worldbank.transport.tamt.server.TrafficCountRecordServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>trafficCountServiceServlet</servlet-name>
    <url-pattern>/tamt/trafficCountService</url-pattern>
  </servlet-mapping>  

  <servlet>
    <servlet-name>trafficFlowReportServiceServlet</servlet-name>
    <servlet-class>org.worldbank.transport.tamt.server.TrafficFlowReportServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>trafficFlowReportServiceServlet</servlet-name>
    <url-pattern>/tamt/trafficFlowReportService</url-pattern>
  </servlet-mapping>  
  
  <servlet>
    <servlet-name>speedDistributionReportServiceServlet</servlet-name>
    <servlet-class>org.worldbank.transport.tamt.server.SpeedDistributionReportServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>speedDistributionReportServiceServlet</servlet-name>
    <url-pattern>/tamt/speedDistributionReportService</url-pattern>
  </servlet-mapping> 
  
  <servlet>
    <servlet-name>tripStatisticsReportServiceServlet</servlet-name>
    <servlet-class>org.worldbank.transport.tamt.server.TripStatisticsReportServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>tripStatisticsReportServiceServlet</servlet-name>
    <url-pattern>/tamt/tripStatisticsReportService</url-pattern>
  </servlet-mapping> 
      
  <servlet>
    <servlet-name>uploadGPSServlet</servlet-name>
    <servlet-class>org.worldbank.transport.tamt.server.UploadGPSTraceHandler</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>uploadGPSServlet</servlet-name>
    <url-pattern>/tamt/uploadGPS</url-pattern>
  </servlet-mapping>
  
  <!--  Download CSV -->
  
	  <!-- Vehicle Flow -->
	  <servlet>
	    <servlet-name>downloadTrafficFlowReport</servlet-name>
	    <servlet-class>org.worldbank.transport.tamt.server.downloads.DownloadVehicleFlowTrafficFlowReport</servlet-class>
	  </servlet>
	  
	  <servlet-mapping>
	    <servlet-name>downloadTrafficFlowReport</servlet-name>
	    <url-pattern>/download/vehicleflow/trafficflowreport</url-pattern>
	  </servlet-mapping> 

	  <!-- Road Length -->
	  <servlet>
	    <servlet-name>downloadRoadLengthReport</servlet-name>
	    <servlet-class>org.worldbank.transport.tamt.server.downloads.DownloadRoadLengthReport</servlet-class>
	  </servlet>
	  
	  <servlet-mapping>
	    <servlet-name>downloadRoadLengthReport</servlet-name>
	    <url-pattern>/download/roadlength/roadlengthbytag</url-pattern>
	  </servlet-mapping> 
	  	  
	  <!-- Speed Bins -->
	  <servlet>
	    <servlet-name>downloadSpeedBinDistribution</servlet-name>
	    <servlet-class>org.worldbank.transport.tamt.server.downloads.DownloadSpeedBinSpeedDistributionReport</servlet-class>
	  </servlet>
	  
	  <servlet-mapping>
	    <servlet-name>downloadSpeedBinDistribution</servlet-name>
	    <url-pattern>/download/speedbin/speeddistribution</url-pattern>
	  </servlet-mapping> 
	  
	  <servlet>
	    <servlet-name>downloadSpeedBinDistributionTrafficFlowReport</servlet-name>
	    <servlet-class>org.worldbank.transport.tamt.server.downloads.DownloadSpeedBinSpeedDistributionTrafficFlowReport</servlet-class>
	  </servlet>
	  
	  <servlet-mapping>
	    <servlet-name>downloadSpeedBinDistributionTrafficFlowReport</servlet-name>
	    <url-pattern>/download/speedbin/trafficflowreport</url-pattern>
	  </servlet-mapping>
	  
	  <servlet>
	    <servlet-name>downloadSpeedBinDistributionAggregateByDayTypeReport</servlet-name>
	    <servlet-class>org.worldbank.transport.tamt.server.downloads.DownloadSpeedBinAggregateByDayTypeReport</servlet-class>
	  </servlet>
	  
	  <servlet-mapping>
	    <servlet-name>downloadSpeedBinDistributionAggregateByDayTypeReport</servlet-name>
	    <url-pattern>/download/speedbin/aggregatebydaytypereport</url-pattern>
	  </servlet-mapping>	  
	
 	  <servlet>
	    <servlet-name>downloadSpeedBinDistributionAggregateByTagReport</servlet-name>
	    <servlet-class>org.worldbank.transport.tamt.server.downloads.DownloadSpeedBinAggregateByTagReport</servlet-class>
	  </servlet>
	  
	  <servlet-mapping>
	    <servlet-name>downloadSpeedBinDistributionAggregateByTagReport</servlet-name>
	    <url-pattern>/download/speedbin/aggregatebytagreport</url-pattern>
	  </servlet-mapping>
	  
 	  <servlet>
	    <servlet-name>downloadTripStatisticsTripBin</servlet-name>
	    <servlet-class>org.worldbank.transport.tamt.server.downloads.DownloadTripStatisticsTripBinReport</servlet-class>
	  </servlet>
	  
	  <servlet-mapping>
	    <servlet-name>downloadTripStatisticsTripBin</servlet-name>
	    <url-pattern>/download/tripstatistics/tripbin</url-pattern>
	  </servlet-mapping>	
	  
 	  <servlet>
	    <servlet-name>downloadTripStatisticsSoakBin</servlet-name>
	    <servlet-class>org.worldbank.transport.tamt.server.downloads.DownloadTripStatisticsSoakBinReport</servlet-class>
	  </servlet>
	  
	  <servlet-mapping>
	    <servlet-name>downloadTripStatisticsSoakBin</servlet-name>
	    <url-pattern>/download/tripstatistics/soakbin</url-pattern>
	  </servlet-mapping>	
	  
	  <!--  backup service -->
  <servlet>
    <servlet-name>backupServiceServlet</servlet-name>
    <servlet-class>org.worldbank.transport.tamt.server.BackupDatabaseServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>backupServiceServlet</servlet-name>
    <url-pattern>/tamt/backupService</url-pattern>
  </servlet-mapping>	      

	  <!--  test connection service -->
  <servlet>
    <servlet-name>testConnectionServiceServlet</servlet-name>
    <servlet-class>org.worldbank.transport.tamt.server.TestConnectionServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>testConnectionServiceServlet</servlet-name>
    <url-pattern>/tamt/testConnectionService</url-pattern>
  </servlet-mapping>	      

	     
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>TransportActivityMeasurementToolkit.html</welcome-file>
  </welcome-file-list>

</web-app>