<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
version="2.4">
	<display-name>TAMT Application</display-name>
    <description>
      The TAMT Application Suite, Version 0.3
    </description>
    
<!-- Servlets -->

<!--  
<servlet>
	<servlet-name>invoker</servlet-name>
	<servlet-class>
	  org.apache.catalina.servlets.InvokerServlet
	</servlet-class>
	<init-param>
	    <param-name>debug</param-name>
	    <param-value>0</param-value>
	</init-param>
	<load-on-startup>2</load-on-startup>
</servlet>
-->
    
 <!-- Start Up Servlets -->  
 <servlet>
    <servlet-name>Log4JInitServlet</servlet-name>
    <servlet-class>org.worldbank.transport.tamt.server.Log4JInitServlet</servlet-class>
    <init-param>
      <param-name>log4j-properties</param-name>
      <param-value>/WEB-INF/classes/log4j.properties</param-value>
     </init-param>
    <load-on-startup>1</load-on-startup>
 </servlet>
 <servlet>
    <servlet-name>SingletonInitializer</servlet-name>
    <servlet-class>org.worldbank.transport.tamt.server.SingletonInitializer</servlet-class>
    <load-on-startup>1</load-on-startup>
 </servlet>  
 <servlet>
    <servlet-name>TAMTConnectionPoolInitializer</servlet-name>
    <servlet-class>org.worldbank.transport.tamt.server.TAMTConnectionPoolInitializer</servlet-class>
    <load-on-startup>1</load-on-startup>
 </servlet>
  
  <!-- Application Servlets -->
  <servlet>
    <servlet-name>assignStatusHandler</servlet-name>
    <servlet-class>org.worldbank.transport.tamt.server.AssignStatusHandler</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>assignStatusHandler</servlet-name>
    <url-pattern>/tamt/assignStatusHandler</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>assignServiceServlet</servlet-name>
    <servlet-class>org.worldbank.transport.tamt.server.AssignServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>assignServiceServlet</servlet-name>
    <url-pattern>/tamt/assignService</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>gpsTraceServiceServlet</servlet-name>
    <servlet-class>org.worldbank.transport.tamt.server.GPSTraceServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>gpsTraceServiceServlet</servlet-name>
    <url-pattern>/tamt/gpsTraceService</url-pattern>
  </servlet-mapping>
    
  <servlet>
    <servlet-name>tagServiceServlet</servlet-name>
    <servlet-class>org.worldbank.transport.tamt.server.TagServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>tagServiceServlet</servlet-name>
    <url-pattern>/tamt/tagService</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>roadServiceServlet</servlet-name>
    <servlet-class>org.worldbank.transport.tamt.server.RoadServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>roadServiceServlet</servlet-name>
    <url-pattern>/tamt/roadService</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>regionServiceServlet</servlet-name>
    <servlet-class>org.worldbank.transport.tamt.server.RegionServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>regionServiceServlet</servlet-name>
    <url-pattern>/tamt/regionService</url-pattern>
  </servlet-mapping>
      
  <servlet>
    <servlet-name>zoneServiceServlet</servlet-name>
    <servlet-class>org.worldbank.transport.tamt.server.ZoneServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>zoneServiceServlet</servlet-name>
    <url-pattern>/tamt/zoneService</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>trafficCountServiceServlet</servlet-name>
    <servlet-class>org.worldbank.transport.tamt.server.TrafficCountRecordServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>trafficCountServiceServlet</servlet-name>
    <url-pattern>/tamt/trafficCountService</url-pattern>
  </servlet-mapping>  

  <servlet>
    <servlet-name>trafficFlowReportServiceServlet</servlet-name>
    <servlet-class>org.worldbank.transport.tamt.server.TrafficFlowReportServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>trafficFlowReportServiceServlet</servlet-name>
    <url-pattern>/tamt/trafficFlowReportService</url-pattern>
  </servlet-mapping>  
          
  <servlet>
    <servlet-name>uploadGPSServlet</servlet-name>
    <servlet-class>org.worldbank.transport.tamt.server.UploadGPSTraceHandler</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>uploadGPSServlet</servlet-name>
    <url-pattern>/tamt/uploadGPS</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>TransportActivityMeasurementToolkit.html</welcome-file>
  </welcome-file-list>

</web-app>